.grid {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-gap: 1em;
    align-content: flex-start;
}


header, footer, main, aside {
    grid-column: 1 / 4;
}

/* Demo Specific Styles */
body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

@media all and (min-width: 700px) {
    aside {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    main {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

main,
aside,
article,
footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

header {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
}

#q1A {
    font-size: 20px;
}

#l1 {
    align-content: space-around;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#l2 {
    align-content: space-around;
    font-size: 20px;
    color: limegreen;
}

#l3 {
    align-content: space-around;
    font-size: 20px;
    color: red;
}

#l5 {
    align-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

#home,
#military,
#common,
#custom {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #8bdbf3;
}